<div class="container">
  <div class="head-content">
    <carousel
      [noPause]="false"
      [isAnimated]="true"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [noWrap]="noWrap"
      [interval]="1500"
      [startFromIndex]="0"
      (slideRangeChange)="onSlideRangeChange($event)"
    >
      <slide *ngFor="let slide of coverPhotoUrls; let index = index">
        <img
          [src]="slide.image"
          alt="photo"
          style="
            display: block;
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 1%;
          "
        />
        <div class="carousel-caption"></div>
      </slide>
    </carousel>
    <img src="{{ mainPhotoUrl }}" alt="photo" class="group-avatar" />
    <div class="group-info">
      <div>
        <h1>{{ group?.name }}</h1>
        <h5 class="group-description">{{ joinedMembers.length }} Members</h5>
      </div>
      <div class="d-flex gap-3 align-items-center">
        <tabset #groupTabs>
          <tab heading="Posts" (selectTab)="onTabActivated($event)"></tab>
          <tab heading="Events" (selectTab)="onTabActivated($event)"></tab>
          <tab heading="Messages" (selectTab)="onTabActivated($event)"></tab>
        </tabset>
        <button
          type="button"
          class="btn btn-success"
          (click)="handleCreateEvent()"
        >
          <i class="fa fa-edit"></i> Create event
        </button>
        @if (isAdmin()) {
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/groups/edit/{{ group?.id }}"
        >
          <i class="fa fa-edit"></i> Edit group
        </button>
        }
      </div>
    </div>
  </div>

  <div class="row body-content">
    <div class="col-3">
      <accordion>
        <accordion-group heading="Requesting members" [isOpen]="true">
          <ul>
            <li *ngIf="requestingMembers.length === 0">No members</li>
            <li *ngFor="let item of requestingMembers">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  {{ item.member.knownAs + " - " + item.member.age + " yrs" }}
                </div>
                <div class="d-flex gap-1" *ngIf="isAdmin() || isModerator()">
                  <button
                    class="btn btn-success btn-sm"
                    (click)="handleUpdateStatus(status.Joined, item.member.id)"
                  >
                    Accept
                  </button>
                  <button
                    class="btn btn-secondary btn-sm"
                    (click)="
                      handleUpdateStatus(status.Rejected, item.member.id)
                    "
                  >
                    Reject
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </accordion-group>
        <accordion-group heading="Introduction" [isOpen]="true">
          {{ group?.description }}
        </accordion-group>
        <accordion-group heading="Location" [isOpen]="true">
          {{ group?.location }}
        </accordion-group>
        <accordion-group heading="Members" [isOpen]="true">
          <ul>
            <li *ngFor="let item of joinedMembers">
              <div class="d-flex justify-content-between">
                <div>
                  {{ item.member.knownAs + " - " + item.member.age + " yrs" }}
                </div>
                @if(item.roles.includes(role.Admin) ||
                item.roles.includes(role.Moderator)) {
                <div
                  class="badge"
                  [ngClass]="{
                    'bg-primary': item.roles.includes(role.Admin),
                    'bg-warning text-dark': item.roles.includes(role.Moderator)
                  }"
                >
                  {{ getRoleName(role, item.roles.sort()[0]) }}
                </div>
                }
              </div>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-6">
      @if(selectedEventId) {
      <app-event-detail [eventId]="selectedEventId"></app-event-detail>
      } @else { @if(groupTabs.tabs[0].active) {
      <div class="d-flex flex-column gap-3">
        @if (group?.id) {
        <app-post-create
          [groupId]="group?.id"
          [currentUser]="accountService.currentUser()"
          (createdPost)="onCreatedPost($event)"
        ></app-post-create>
        <app-post-list
          [createdPost]="createdPost"
          [groupId]="group?.id"
        ></app-post-list>
        }
      </div>
      } @if(groupTabs.tabs[1].active) {
      <app-event-list></app-event-list>
      } @if(groupTabs.tabs[2].active) { @if (group?.id) {
      <app-group-message
        [currentUser]="accountService.currentUser()"
        [groupId]="group?.id"
      ></app-group-message>
      } } }
    </div>
    <div class="col-3">
      <accordion>
        <accordion-group heading="Incoming & Happening events" [isOpen]="true">
          <app-incoming-event-list></app-incoming-event-list>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
