<div class="card mb-4" [class.joined-group]="true">
  <div class="card-img-wrapper">
    <img
      [src]="getMainPhotoUrl()"
      alt="{{ group().name }}"
      class="card-img-top"
    />
    <ul class="list-inline member-icons animate text-center">
      @if (hasJoined()) {
      <li class="list-inline-item">
        <button routerLink="/groups/{{ group().id }}" class="btn btn-primary">
          <i class="fa fa-users"></i>
        </button>
      </li>
      @if (hasJoined()) {
      <li class="list-inline-item">
        <button routerLink="/groups/{{ group().id }}" [queryParams]="{ tab: 'Messages' }" class="btn btn-primary">
          <i class="fa fa-envelope"></i>
        </button>
      </li>
      }
      } @if (group().currentUserStatus != statusOptions.Banned) {
      <li class="list-inline-item">
        <button (click)="toggleJoin()" class="btn btn-primary">
          @if (hasJoined()) {<i class="fa fa-times"></i>} @else if
          (group().currentUserStatus == statusOptions.Waiting) {
          <i class="fa fa-dot-circle-o"></i>
          } @else {<i class="fa fa-sign-in"></i>}
        </button>
      </li>
      } 
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      {{ group().name }}
    </h6>
    <div class="card-text text-muted text-center">
      <i class="fa fa-map-marker"></i> {{ group().location }}
    </div>
    <p class="card-text text-muted text-center">
      <span class="badge bg-info text-light">{{ group().type }}</span>
    </p>
  </div>
</div>
