.nv-file-over {
    border: dotted 3px red
}

#fileInput {
    display: none;
}

label[for="fileInput"] {
    cursor: pointer;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}